<!-- Copy from Bootstrap and make edits -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Django Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog-index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-createpost' %}">Create Post</a>
          </li>
          <span class="nav-link float-end">Hello, {{ request.user }}</span>
          <span><a class="nav-link float-end" href="{% url 'blog-logout' %}">Logout</a></span>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  